body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background:#333;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	color:#eee;
	font-family:helvetica;
	font-size:12px;'
}

canvas { border: 2px solid black; }
form {width:100%;}

#logCount{
	width:80%;
	margin: auto;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: 282828;
}
#myConsole{
	width:80%;
	margin: auto;
	height:200px;
	overflow-y:scroll;
	overflow-x:scroll;
	#top:260px;
	#display: inline;
	border: 2px solid 282828;
	white-space: nowrap;
}

.PageView{
	display: inline-block;
}

.RSSList {
	/* width: 380px; */ 
	width: 100%;
	/*border:1px dotted;*/
}

.Button {
	width: 70px;
	height: 100%;
	background-color: white;
	display: inline-block;
	border-radius: 6px;
	color: black;
	text-align: center;
}
.ButtonsContainer {
	width: 220px;
	height:22px;
	margin-top:4px;
	margin-left: auto;
	margin-right: auto;
}

.RSSList .current {width:100%;}


.RSSList .controls{width:60%;margin:auto;}
.RSSList img {width:100%;height:100%;}
.RSSList li:hover {opacity:0.6;}
.RSSList a {text-decoration: none;position:absolute;top:0px;left:0px;width:100%;height:100%;}
.RSSList ul {font-style:italic; font-weight: bold; font-family:Georgia, Times, serif; color:#bfe1f1;  }
.RSSList li {position:relative; display:inline-block; float: left; width:102px; height:100px; margin: 1px; overflow: hidden; border:1px solid;}
.RSSList li div{background-color:rgba(0,0,0,.5);opacity:none !important;}
.RSSList span {font-style:normal; font-family:Arial; font-size:10px !important; color:#eee; padding-left: 1px;}
.RSSList span em { display:block; }


.log{
	width:3000px;
}

.log.info.even {
	background-color: #989898;
}

.log.info.odd {
	background-color: #505050;
}

.log.error{
	color: #B80000;
}

.log.error.even{
	background-color: #989898;
}

.log.error.odd{
	background-color: #505050;
}

.contentArea{
	border:1px solid black; 
	position:absolute;
	background:green;
	font:16px black;
	width:100%;
	height:100%;
}

.mediaItem{
	width: 250px;
	height: 25%;
	#display: block;
	float: left;
	border: 1px black;
}
.media-viewport{
	width: 320px;
	border: 1px black;
	overflow:auto;
}

